*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito;
    transition: .125s;
    outline: none;
}
#nav-bar-mobile, #mobile #search,#menu{
  display: none; 
}
#header #container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 11vh;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
#nav-bar .item-nav{
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
  
.dropdown:hover .dropdown-content {display: block;}
  
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#search{
    width: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #000;
}
#search input{
    width: 15em;
    border: none;
    outline: none;
    
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.mySlides img{
    width: 100%;
    object-fit: cover;
}
.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.text {
  color: #f2f2f2;
  font-size: 30px;
  position: absolute;
  top: 3em;
  left: 15vw;
  width: 100%;
  max-width: 800px;
  height: 15vw;
  font-family: Arial, Helvetica, sans-serif;
}

.text strong{
   color: #E9BF33;

}

.phrase-two,.phrase-three,.phrase-four{
  color: #F8475F;
  font-weight: 900;
  
}
#container-buttons{
    position: absolute;
    text-align:center;
    margin-top: -45px;
    left: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active{
    background-color: #F8475F;
}
/* Prateleira */
#container-shelf{
    width: 100%;
    max-width: 1040px;
    margin:auto;
}

#title-shelf{
    font-size: 2em;
}

#hr-shelf{
    width: 8%;
    height: .5vw;
    background-color:#E9BF33;
    border:none;
    border-radius: 5px;
    margin: 5px 0 ;
}

.prateleira{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3%;
    /* deixar alinhado bunitinho :) */
    display: flex ;
    align-items: center;
    transition: 2s ;
}
.button-caroussel{
  cursor: pointer;
}

.item-shelf{
    position: relative;
    align-items: center;
    padding: .8em;
    box-shadow: 5px  5px 10px #ccc;
}

/* stars */
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


#off{
    width: 5.13rem;
    height: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/shelf/polygon.svg);
}
#off p{
  color: #fff;
  padding: .5rem .5rem 0 2rem;;
}

.item-shelf figure{
    text-align: center;
}

.item-shelf figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 13em;
}

.call-to-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:none;
    border-radius: 15px;
    width: 11em;
    height: 4em;
    background-color: #00E676 !important;
    cursor: pointer;
    color: white;   
}
.call-to-action:active{
  color:white;
}

/* Newsletter */
#newsletter{
  background-color: #F2F2F2;
  margin-top: 5%;
}

#newsletter-container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form-newsletter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#form-newsletter div{
  width: 25%;
  text-align: center;
}

#form-newsletter input[type="text"],#form-newsletter input[type="email"]{
  width: 90%;
  height: 7vh;
  margin: 2%;
  border: 1px solid #fff;
  font-family: 'Lato', sans-serif;
  text-indent: 15px;
  border-radius: 5px;
} 
#form-newsletter input[type="submit"]{
  width: 15%;
  height: 7vh;
  border: none;
  background-color:#000;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-radius: 5px;

}

.active-error{
  color: red;
  font-size: 0.9rem;
}

#confirm-container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
  height: 20vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#confirm-container button{
  width: 15%;
  height: 7vh;
  border: none;
  background-color:#000;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2%;
}

#confirm-container button:hover{
  background-color: #333;
}


#footer{
  background-color: #000;
  color: white;
}

#footer-container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#footer-container div{
  width: 25%;
  height: auto;
}

#footer-container #endereco{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
}

#endereco hr{
  width: 30%;
  height: 1vh;
  background-color:#E9BF33;
  border:none;
  border-radius: 5px;
  margin: 5px 0 ;
}

#contato{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}

#contato button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: 7vh;
  border:none;
  background-color:#E9BF33;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-radius: 5px;
  font-size: .7rem;
}

#empresas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

#empresas img{
  width: 80px;
  height: 45px;
}


@media  screen and (max-width:1250px){
  .prateleira{
    display: flex;
    justify-content: center;
  }
  .item-shelf:nth-child(4){
    display: none;
  }
  .text {
    font-size: 1.5rem;
    width: 50%;
  }
  #container-buttons{
    left: 40%;
  }
}


@media  screen and (max-width:859px) {
   #header{
     display: none;
   }
   #mobile{
     height: 29vw;
   }
   #nav-bar-mobile{
     height: 19vw;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   #mobile #search{
     display: flex;
     width: 80%;
     margin: auto;
   }
   .item-shelf:nth-child(3), .item-shelf:nth-child(4){
     display: none;
   }
   .slideshow-container {
       height: 45vw;
       background-color: rebeccapurple;
   }
   .text {
    color: #f2f2f2;
    font-size: 1.3rem;
    position: absolute;
    top: 3em;
    left: 15vw;
    width: 50%;
    max-width: 800px;
    height: 15vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mySlides {
    height: 45vw;
  }

  .mySlides img{
    height: 45vw
  }
  #newsletter-container h2{
     text-align: center;
  }

  #confirm-container button{
    width: 80%;
    height: 10vw;
  }
  #empresas img{
    width: 50px;
    height: 25px;
  }
  .prev, .next{
    margin-top: -30px;
  }
  #menu{
    width: 0;
    position: fixed; 
    top: 0;  
    display: none;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    background-color: #E9BF33; 
    height: 88vh;
    z-index: 5;
  
  }
  #menu a{
    font-size: 1.5rem;
    color: #fff;
  }

  #fechar{
    cursor: pointer;
    font-weight: 900;
  }

  #hr-shelf{
    width: 20%;
    margin: 1.1rem;
  }
}

@media  screen and (max-width:567px){
  .item-shelf:nth-child(2),.item-shelf:nth-child(3), .item-shelf:nth-child(4){
    display: none;
  }
  #footer-container #endereco{
    height: 30vw;
  }
  .text {
    font-size: 1.1rem;
  }
  #endereco address p{
    font-size: .5rem;
  }
  #contato button{
    font-size: .5rem;
  }
  #newsletter-container{
   height: 80vw;
  } 
  #form-newsletter{
    width: 100%;
    flex-direction: column;
  }
  #form-newsletter div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  #form-newsletter input[type="text"],#form-newsletter input[type="email"],#form-newsletter input[type="submit"]{
    width: 50%;
    height: 10vw;
  }
  #container-buttons{
    display: none;
  }
  #empresas{
    height: 25vw;
  }
  #empresas img{
    width: 40px;
    height: 19px;
  }

  #footer-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vw;
  }
  #footer-container div{
    height: 25vw;
  }
  #contato{
    align-items: center;
  }

  #contato button{
    width: 45vw;
    height: 10vw;
  }
}
