*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Nunito;
}
#nav-bar-mobile, #mobile #search{
  display: none; 
}
#header #container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 11vh;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
#nav-bar .item-nav{
    color: #333;
}

  
/* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

#search{
    width: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #000;
}
#search input{
    width: 13em;
    border: none;
    outline: none;
}

/* Slideshow */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.mySlides img{
    width: 100%;
    object-fit: cover;
}
.prev, .next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.text {
  color: #f2f2f2;
  font-size: 30px;
  position: absolute;
  top: 3em;
  left: 15vw;
  width: 100%;
  max-width: 800px;
  height: 15vw;
  font-family: Arial, Helvetica, sans-serif;
}

.text strong{
   color: #E9BF33;

}
#container-buttons{
    position: absolute;
    text-align:center;
    margin-top: -45px;
    left: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active{
    background-color: #F8475F;
}
/* Prateleira */
#container-shelf{
    width: 100%;
    max-width: 1040px;
    margin:auto;
}

#title-shelf{
    font-size: 2em;
}

#hr-shelf{
    width: 8%;
    height: 1vh;
    background-color:#E9BF33;
    border:none;
    border-radius: 5px;
    margin: 5px 0 ;
}

#prateleira{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3%;
    /* deixar alinhado bunitinho :) */
    display: flex ;
    align-items: center;
}

.item-shelf{
    align-items: center;
    padding: .8em;
    box-shadow: 5px  5px 10px #ccc;
}
.item-shelf figure{
    text-align: center;
}

.item-shelf figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 13em;
}

.call-to-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:none;
    border-radius: 15px;
    width: 11em;
    height: 4em;
    background-color: #00E676 !important;
    cursor: pointer;
    color: white;
    font-weight: bolder;

}
.call-to-action:active{
  color:white;
}

/* Newsletter */
#newsletter{
  background-color: #F2F2F2;
  margin-top: 5%;
}

#newsletter-container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form-newsletter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#form-newsletter input[type="text"],#form-newsletter input[type="email"]{
  width: 25%;
  height: 7vh;
  margin: 2%;
  border:none;
  font-family: 'Lato', sans-serif;
  text-indent: 15px;
  border-radius: 5px;
} 
#form-newsletter input[type="submit"]{
  width: 15%;
  height: 7vh;
  border:none;
  background-color:#E9BF33;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-radius: 5px;
}


#footer{
  background-color: #000;
  color: white;
}

#footer-container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#footer-container div{
  width: 25%;
  height: auto;
}

#footer-container #endereco{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
}

#endereco hr{
  width: 30%;
  height: 1vh;
  background-color:#E9BF33;
  border:none;
  border-radius: 5px;
  margin: 5px 0 ;
}

#contato{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}

#contato button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: 7vh;
  border:none;
  background-color:#E9BF33;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-radius: 5px;
  font-size: .7rem;
}

#empresas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

#empresas img{
  width: 80px;
  height: 45px;
}


@media  screen and (max-width:1250px){
  #prateleira{
    display: flex;
    justify-content: center;
  }
  .item-shelf:nth-child(4){
    display: none;
  }
  .text {
    font-size: .8rem;
    width: 50%;
  }
  #container-buttons{
    left: 40%;
  }
}


@media  screen and (max-width:859px) {
   #header{
     display: none;
   }
   #mobile{
     height: 12vh;
   }
   #nav-bar-mobile{
     height: 8vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   #mobile #search{
     display: flex;
     width: 80%;
     margin: auto;
   }
 .item-shelf:nth-child(3), .item-shelf:nth-child(4){
     display: none;
   }
   .slideshow-container {
       height: 25vh;
       background-color: rebeccapurple;
   }
   .text {
    color: #f2f2f2;
    font-size: 1rem;
    position: absolute;
    top: 3em;
    left: 15vw;
    width: 50%;
    max-width: 800px;
    height: 15vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mySlides {
    height: 25vh;
  }

  .mySlides img{
    height: 25vh
  }
  #empresas img{
    width: 50px;
    height: 25px;
  }
  .prev, .next{
    margin-top: -30px;
  }
}

@media  screen and (max-width:567px){
  .item-shelf:nth-child(2),.item-shelf:nth-child(3), .item-shelf:nth-child(4){
    display: none;
  }

  #endereco address p{
    font-size: .5rem;
  }
  #contato button{
    font-size: .5rem;
  }
  #newsletter-container{
   height: 45vh;
  } 
  #form-newsletter{
    width: 100%;
    flex-direction: column;
  }
  #form-newsletter input[type="text"],#form-newsletter input[type="email"],#form-newsletter input[type="submit"]{
    width: 50%;
  }
  #container-buttons{
    display: none;
  }
  #empresas img{
    width: 40px;
    height: 19px;
  }
}
